*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: black;
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
}

* {
  scroll-behavior: smooth;
}
